<div class="vinesiek-collections">
  <h2 class="vinesiek-title">注目コレクション</h2>

  <div class="collection-grid">
    {% for block in section.blocks %}
      <a class="collection-card" href="{{ block.settings.collection_url }}">
        <img src="{{ block.settings.collection_img | img_url: 'medium' }}">
        <span>{{ block.settings.collection_title }}</span>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "コレクション一覧",
  "blocks": [
    {
      "type": "collection",
      "name": "コレクション",
      "settings": [
        { "type": "text", "id": "collection_title", "label": "タイトル" },
        { "type": "image_picker", "id": "collection_img", "label": "画像" },
        { "type": "url", "id": "collection_url", "label": "リンク" }
      ]
    }
  ],
  "presets": [{"name": "Collections"}]
}
{% endschema %}
