{% comment %}
VINESIEK – Home principal (ZUXE Premium)
{% endcomment %}

<div class="vinesiek-home-wrapper">

    {% section 'vinesiek-hero' %}
    {% section 'vinesiek-collections' %}
    {% section 'vinesiek-products' %}
    {% section 'vinesiek-kids' %}
    {% section 'vinesiek-gifts' %}
    {% section 'vinesiek-signature' %}
    {% section 'vinesiek-story' %}
    {% section 'vinesiek-newsletter' %}

</div>

{% schema %}
{
  "name": "VINESIEK – Home",
  "settings": [],
  "presets": [
    {
      "name": "Página Inicial VINESIEK"
    }
  ]
}
{% endschema %}
